POSTGRES_PASSWORD=<db_password>
POSTGRES_USER=<db_user>
POSTGRES_DB=<db_name>
POSTGRES_HOST=<db_host>
POSTGRES_PORT=<db_port>

SECRET_KEY=<django_secret_key>
DEBUG=<development_mode>
ALLOWED_HOSTS=<allowed_hosts>